POSTGRES_DB=postgres
POSTGRES_USER=gateway_user
POSTGRES_PASSWORD=gateway_password

PUBLIC_BASE_URL=http://localhost:80
KAFKA_EXTERNAL_HOST=localhost

BUILD_HTTP_PROXY=
BUILD_HTTPS_PROXY=
BUILD_NO_PROXY=localhost,127.0.0.1,::1,postgres,kafka,redis,gateway-service,pubver,frontend
